<html>
    <head>
        <title>
            Login Page
        </title>
        <link rel="stylesheet" href="{{url_for('static',filename = 'Login_style.css')}}" >
    </head>
    <body style = "margin: auto;
                    width: 30%;
                    margin-top: 5%;
                    background: linear-gradient(180deg, rgb(0, 0, 0), rgb(48, 48, 48))">
        <form action="{{ url_for('login') }}" method=POST>
            <div class="imgcontainer">
              <img src="{{url_for('static',filename = 'avatar.png')}}" class="avatar">
            </div>
                <p class=error style = "color: red;
                                        text-align: center;"><strong></strong> {{ error }}
            <div class="container">
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" required>
          
                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>
          
                <button type="submit">Login</button>
            
          
                <div class="container" style="background-color:#f1f1f1">
                    <button type="button" class="signbttn" onclick=location.href="/signup">SignUp for a new account</button>
                    
                    <button type="button" class="blog" onclick=location.href="{{url_for('blog')}}">Read Other blogs</button>
                </div>

            </div>
          </form>
    </body>
</html>